Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [95]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [96]:
df['gender'].value_counts()['Male'] / df['gender'].value_counts()['Female']

1.0192087155963303

##### 2. Какое количество уникальных значений у поля InternetService?

In [97]:
len(df['InternetService'].value_counts())

3

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [98]:
#Агностически к исходному типу
pd.to_numeric(df['TotalCharges'], errors = 'coerce', downcast='float').describe()

count    7032.000000
mean     2283.298340
std      2266.770508
min        18.799999
25%       401.450012
50%      1397.475098
75%      3794.737549
max      8684.799805
Name: TotalCharges, dtype: float64

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [99]:
df.loc[df['PhoneService']=='No',['PhoneService']] = 0
df.loc[df['PhoneService']=='Yes',['PhoneService']] = 1
df['PhoneService']

0       0
1       1
2       1
3       0
4       1
       ..
7038    1
7039    1
7040    0
7041    1
7042    1
Name: PhoneService, Length: 7043, dtype: object

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [100]:
df.loc[df['TotalCharges']==' ',['TotalCharges']] = np.nan
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors = 'coerce', downcast='float')
df['TotalCharges'].fillna(0, inplace=True)
df['TotalCharges'].describe()

count    7043.000000
mean     2279.732178
std      2266.794434
min         0.000000
25%       398.549988
50%      1394.550049
75%      3786.599976
max      8684.799805
Name: TotalCharges, dtype: float64

In [101]:
df['TotalCharges'].isnull().values.any()

False

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [102]:
df.loc[df['Churn']=='No',['Churn']] = 0
df.loc[df['Churn']=='Yes',['Churn']] = 1
df['Churn'].value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [103]:
df.loc[df['StreamingMovies']=='No',['StreamingMovies']] = 0
df.loc[df['StreamingMovies']=='No internet service',['StreamingMovies']] = 0
df.loc[df['StreamingMovies']=='Yes',['StreamingMovies']] = 1
df.loc[df['StreamingTV']=='No',['StreamingTV']] = 0
df.loc[df['StreamingTV']=='No internet service',['StreamingTV']] = 0
df.loc[df['StreamingTV']=='Yes',['StreamingTV']] = 1
df.loc[df['TechSupport']=='No',['TechSupport']] = 0
df.loc[df['TechSupport']=='No internet service',['TechSupport']] = 0
df.loc[df['TechSupport']=='Yes',['TechSupport']] = 1
df[['StreamingMovies', 'StreamingTV', 'TechSupport']]

     StreamingMovies StreamingTV TechSupport
0                  0           0           0
1                  0           0           0
2                  0           0           0
3                  0           0           1
4                  0           0           0
...              ...         ...         ...
7038               1           1           1
7039               1           1           0
7040               0           0           0
7041               0           0           0
7042               1           1           1

[7043 rows x 3 columns]

In [104]:
df['TechSupport'].value_counts()

0    4999
1    2044
Name: TechSupport, dtype: int64

##### 8. Заполните пропуски в поле PhoneService значением 0

In [105]:
df['PhoneService'].fillna(0, inplace=True)
df['PhoneService'].value_counts()

1    6361
0     682
Name: PhoneService, dtype: int64

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [106]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']

df = df[columns]
df.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.850000,0,0,0,0
1,Male,34,1,1889.500000,0,0,0,0
2,Male,2,1,108.150002,0,0,0,1

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [107]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'

X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size=0.20, random_state=23)

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [108]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [109]:
gender.fit_transform(X=X_train)

      gender_Female  gender_Male
6797              0            1
6847              1            0
5699              0            1
6221              0            1
1048              0            1
...             ...          ...
2998              0            1
1993              1            0
1064              1            0
4838              1            0
595               1            0

[5634 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [110]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

Ответ - зависит от применяемой модели. Если модель чувствительна к абсолютным значениям - нормирование и центрирование позволяет избежать завышения значимости полей с большими абсолютными значениями (и занижения - с малыми).

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [111]:
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [112]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [113]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [114]:
X_train.head(10)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport
6797,Male,27,1,1793.250000,0,0,0
6847,Female,18,1,1082.800049,0,1,0
5699,Male,15,1,1219.849976,0,1,0
6221,Male,26,1,471.850006,0,0,0
1048,Male,29,1,572.200012,0,0,0
3960,Female,3,1,161.449997,0,1,0
3939,Female,1,1,78.650002,1,0,0
3223,Male,3,0,94.400002,0,0,0
4290,Female,1,0,40.099998,0,1,1
4459,Female,1,1,100.250000,1,1,0

In [115]:
X_train['TotalCharges'].isnull().values.any()

False

In [134]:
y_train = y_train.astype('int32')
y_train.dtypes

dtype('int32')

In [139]:
y_test = y_test.astype('int32')
y_test.dtypes

dtype('int32')

In [143]:
y_test.values

array([0, 0, 0, ..., 0, 1, 0])

In [135]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [151]:
pipeline.predict_proba(X_test)

array([[0.97, 0.03],
       [1.  , 0.  ],
       [0.7 , 0.3 ],
       ...,
       [0.46, 0.54],
       [0.  , 1.  ],
       [0.62, 0.38]])

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [152]:
from sklearn.metrics import roc_auc_score, log_loss

roc_auc_score(y_true = y_test.values, y_score = pipeline.predict_proba(X_test)[:,1])

0.7718652282676672

In [147]:
log_loss(y_true = y_test.values, y_pred = pipeline.predict(X_test))

8.383525807986816

### Сохраним наш пайплайн

In [153]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)

ModuleNotFoundError: No module named 'dill'